name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Buildozer Dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-pip build-essential git python3 python3-dev ffmpeg libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev libportmidi-dev libswscale-dev libavformat-dev libavcodec-dev zlib1g-dev
          pip3 install --user --upgrade buildozer Cython==0.29.33 virtualenv

      - name: Build APK with Buildozer
        run: |
          # 'yes |' lagane se saare licenses apne aap 'y' (yes) ho jayenge
          yes | ~/.local/bin/buildozer -v android debug
